<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="mobile-logo logo-brand">
          <a href="#!">TMS</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarColor03">
          <a class="navbar-brand logo-brand hide" href="#!">TMS</a>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/Home">Dashbord <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Todos</a>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#!">My Todos</a>
                      <a class="dropdown-item" href="#!">All Todos</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Insights</a>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#!">Activity</a>
                      <a class="dropdown-item" href="#!">Goals</a>
                      <a class="dropdown-item" href="#!">Reports</a>
                      <a class="dropdown-item" href="#!">Summary</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#!">Archived Leads</a>
                      <a class="dropdown-item" href="#!">Contacts</a>
                      <a class="dropdown-item" href="#!">Causes</a>
                      <a class="dropdown-item" href="#!">Products</a>
                      <a class="dropdown-item" href="#!">Sources</a>
                      <a class="dropdown-item" href="#!">Zones</a>
                  </div>
              </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown desktop-notification hide">
                      <a class="nav-link dropdown-toggle notification" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" aria-hidden="true"><span class="notification-count">4</span></i></a>
                      <div class="dropdown-menu notification-tray">
                          <div class="notification-msg">
                              <img src="./assets/img/notifi-img.png" alt="profile-icon">
                              <p class="dropdown-item">sej has assigned you the lead <b>ggg</b> belonging to the
                                  stage <b>Hello</b> this in the pipeline NewPipe</p>
                          </div>
                          <div class="notification-msg">
                              <img src="./assets/img/notifi-img.png" alt="profile-icon">
                              <p class="dropdown-item">sej has assigned you the lead <b>ggg</b> belonging to the
                                  stage <b>Hello</b> this in the pipeline NewPipe</p>
                          </div>
                          <div class="notification-msg">
                              <img src="./assets/img/notifi-img.png" alt="profile-icon">
                              <p class="dropdown-item">sej has assigned you the lead <b>ggg</b> belonging to the
                                  stage <b>Hello</b> this in the pipeline NewPipe</p>
                          </div>
                          <div class="notification-msg">
                              <img src="./assets/img/notifi-img.png" alt="profile-icon">
                              <p class="dropdown-item">sej has assigned you the lead <b>ggg</b> belonging to the
                                  stage <b>Hello</b> this in the pipeline NewPipe</p>
                          </div>
                          <div class="notification-msg">
                              <img src="./assets/img/notifi-img.png" alt="profile-icon">
                              <p class="dropdown-item">sej has assigned you the lead <b>ggg</b> belonging to the
                                  stage <b>Hello</b> this in the pipeline NewPipe</p>
                          </div>
                          <div class="notification-msg">
                              <img src="./assets/img/notifi-img.png" alt="profile-icon">
                              <p class="dropdown-item">sej has assigned you the lead <b>ggg</b> belonging to the
                                  stage <b>Hello</b> this in the pipeline NewPipe</p>
                          </div>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a [routerLink]="['/settings']"  class="nav-link" >Setting</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{profileName}}</a>
                      <div class="dropdown-menu user-profile">
                          <a class="dropdown-item" [routerLink]="['/settings']" >Add Team Members</a>
                          <a class="dropdown-item" [routerLink]="['/helpCenter']">Help Center</a>
                          <a class="dropdown-item" [routerLink]="['/changePassword']" >Change Password</a>
                          <a class="dropdown-item" [routerLink]="['/Login']"  >Sign Out</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown mobile-notification show">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Notification</a>
                          <div class="dropdown-menu notification-tray">
                              <div class="notification-msg">
                                  <img src="./assets/img/notifi-img.png" alt="profile-icon">
                                  <p class="dropdown-item">sej has assigned you the lead <b>ggg</b> belonging to the
                                      stage <b>Hello</b> this in the pipeline NewPipe</p>
                              </div>
                              <div class="notification-msg">
                                  <img src="./assets/img/notifi-img.png" alt="profile-icon">
                                  <p class="dropdown-item">sej has assigned you the lead <b>ggg</b> belonging to the
                                      stage <b>Hello</b> this in the pipeline NewPipe</p>
                              </div>
                              <div class="notification-msg">
                                  <img src="./assets/img/notifi-img.png" alt="profile-icon">
                                  <p class="dropdown-item">sej has assigned you the lead <b>ggg</b> belonging to the
                                      stage <b>Hello</b> this in the pipeline NewPipe</p>
                              </div>
                              <div class="notification-msg">
                                  <img src="./assets/img/notifi-img.png" alt="profile-icon">
                                  <p class="dropdown-item">sej has assigned you the lead <b>ggg</b> belonging to the
                                      stage <b>Hello</b> this in the pipeline NewPipe</p>
                              </div>
                              <div class="notification-msg">
                                  <img src="./assets/img/notifi-img.png" alt="profile-icon">
                                  <p class="dropdown-item">sej has assigned you the lead <b>ggg</b> belonging to the
                                      stage <b>Hello</b> this in the pipeline NewPipe</p>
                              </div>
                              <div class="notification-msg">
                                  <img src="./assets/img/notifi-img.png" alt="profile-icon">
                                  <p class="dropdown-item">sej has assigned you the lead <b>ggg</b> belonging to the
                                      stage <b>Hello</b> this in the pipeline NewPipe</p>
                              </div>
                          </div>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>