<form class="clearfix" (ngSubmit)="f.valid && addSource(f)" #f="ngForm" novalidate>  
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !sourceName.valid }">
    <label for="txtNotes">Source</label>
    <textarea type="text" class="form-control" name="sourceName" rows="3" id="txtNotes" placeholder="Source" [(ngModel)]="model.sourceName" #sourceName="ngModel" required></textarea>
    <div *ngIf="f.submitted && !sourceName.valid" class="help-block">Source is required</div>
   
  </div>
  <button [disabled]="isSaving" class="btn btn-primary float-right mb-1">
    <span *ngIf="isSaving" class="spinner-border spinner-border-sm"  role="status" aria-hidden="true"></span>
    Submit
    </button>
    
</form>
<div class="col-md-12 mt-2 table-responsive" *ngIf="allSourceList.length>0">
  <table class="table  table-bordered mttable">
    <thead>
      <tr>
        <th>Source </th>
        <th></th>
      </tr>
    </thead>
      <tbody>
        <tr  *ngFor="let item of allSourceList">
          <td>{{item?.sourceName}}</td>
          <td><i class="fa fa-trash-o" style="cursor: pointer;" (click)="showDialog(item)"  aria-hidden="true"></i></td>
        </tr>
        </tbody>
        </table>
</div>
