<form class="clearfix" (ngSubmit)="f.valid && addNotes(f)" #f="ngForm" novalidate>  
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !notes.valid }">
    <label for="txtNotes">Add Notes</label>
    <textarea type="text" class="form-control" name="notes" rows="3" id="txtNotes" placeholder="Notes" [(ngModel)]="model.notes" #notes="ngModel" required></textarea>
    <div *ngIf="f.submitted && !notes.valid" class="help-block">Notes is required</div>
   
  </div>
  <button [disabled]="isSaving" class="btn btn-primary float-right mb-1">
    <span *ngIf="isSaving" class="spinner-border spinner-border-sm"  role="status" aria-hidden="true"></span>
    Submit
    </button>
    
</form>
<div class="col-md-12 mt-2 table-responsive" *ngIf="allNotesList.length>0">
  <table class="table  table-bordered mttable">
    <thead>
      <tr>
        <th>Notes</th>
        <th></th>
      </tr>
    </thead>
      <tbody>
        <tr  *ngFor="let item of allNotesList">
          <td>{{item?.notes}}</td>
          <td><i class="fa fa-trash-o" style="cursor: pointer;" (click)="showDialog(item)"  aria-hidden="true"></i></td>
        </tr>
        
        </tbody>
        </table>
</div>