<form (ngSubmit)="f.valid && submit(f)" #f="ngForm">
  <div class="form-row">
    
    <div class="form-group col-md-6" [ngClass]="{ 'has-error': f.submitted && !pipeName.valid }">
      <label for="txtPipeLineName">Pipeline Name</label>
      <input type="text" class="form-control" name="pipeName" id="txtPipeLineName" placeholder="Pipeline Name" [(ngModel)]="model.pipeName" #pipeName="ngModel" required>
      <div *ngIf="f.submitted && !pipeName.valid" class="help-block">Pipeline Name is required</div>
      <br>
      <input type="checkbox" name="isDefault" [(ngModel)]="model.isDefault"> Is Default
    </div>
  </div>
    <div class="row">
      <div class="col-1">
        <button [disabled]="isSaving" class="btn btn-primary">
          <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Submit
          </button>
      </div>
      <div class="col-1">
        <input type="reset" (click)="Reset()" class="btn btn-primary" value="Reset">
      </div>
    </div>
    
</form>
<div class="table-responsive">
  <table class="table  table-bordered mttable" *blockUI="'contact-list'">
    <thead>
      <tr >
        <th scope="col">SN</th>
        <th scope="col">PipeLine Name</th>
        <th scope="col">Is Default</th>
        <th scope="col" colspan="2"></th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pageOfItems; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{item?.pipeName}}</td>
        <td>{{item?.isDefault}}</td>
        <td><i class="fa fa-pencil" style="cursor: pointer;" (click)="EditPipe(item)" aria-hidden="true"></i></td>
        <td><i class="fa fa-trash-o" style="cursor: pointer;" (click)="showDialog(item)"  aria-hidden="true"></i>
          
        </td>
      </tr> 
    
    </tbody>
  </table>
  
    <jw-pagination class="pull-right" [items]="allPipeLine" (changePage)="onChangePage($event)"></jw-pagination>
  </div>