/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";
:root {
    --first-color: #4680FF;
    --second-color: #ffff8c;
    --deleteColor: red;
    --fontcolor:white;
  } 
.toast-container .ngx-toastr
{
    width: auto !important;
}
a.nav-link ,a.nav-link:hover {
    color: var(--fontcolor) ;
}
.leadoption {
    color: var(--first-color) !important ;
}
a{
    color: var(--first-color) ;
}
a:hover{
    color: var(--first-color) ;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    background: var(--first-color) ;
}
.mttable
{
    margin-top:10px;
}
.page-item.active .page-link
{
    background-color: var(--first-color);
     border-color: var(--first-color); 
}
.fa-trash-o
{
    color:var(--deleteColor) !important;
}
/* .fa {
    color:var(--fontcolor);
} */
.page-link:hover
{
    background-color :var(--first-color);
    border-color : var(--first-color);
}
.popup-modal .nav-item
{
    margin-right: 1px;
   
    background: #00bcd4;
   
}

