<main>
  <div class="container-fluid">
     
      
      <block-temp *ngIf="loading"></block-temp>
      
      <section id="project-card-section">
        <div class="row">
           
           
           
           <div class="col-md-9">
            <div class="card">
                
                <div class="card-header">
                    <button type="button" class="btn btn-link" style="color:#4680FF" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i></button>  Filter Section
                  <button type="button" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Total Leads Count">
                    Total Leads :  <span class="badge badge-pill badge-info" style="font-size: small;"> {{totalLeadsCount}}</span>
                    
                  </button>
                </div>
                <div id="collapseOne"  class="collapse show" aria-labelledby="headingOne" >
                <div class="card-body popup-modal" >
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                
                                    <label for="txtPipeLineName">PipeLine Name</label>
                                    <select class="form-control" [(ngModel)]="filter.pipeId" (change)="loadPipeLine(filter.pipeId)">
                                        <option [value]="item.pipeID" *ngFor="let item of allPipeLine">{{item?.pipeName}}</option>
                                    </select>
                                
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-12">
                            
                                <div class="form-group">
                                   
                                        <label for="txtPipeLineName">Lead Name</label>
                                        <input type="text" [(ngModel)]="filter.leadName" (ngModelChange)="filterLeads()" class="form-control" placeholder="Start typing a lead name">
                                    
                                </div>
                            
                        </div>
                        <div class="col-md-2 col-sm-4 col-12">
                            <div class="form-group">
                                
                                    <label for="txtPipeLineName">User Name</label>
                                    <select class="form-control" [(ngModel)]="filter.assignUser" (change)="filterLeads()">
                                        <option value=""> Please choose User name </option>
                                        <option *ngFor="let item of allUser" [value]="item.userId">{{item?.name}}</option>
                                    </select>
                               
                            </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-12">
                                <div class="form-group">
                                    
                                        <label for="txtPipeLineName">Lead Type</label>
                                        <select class="form-control" [(ngModel)]="filter.leadType" (change)="filterLeads()">
                                            <option value=""> Please choose Lead Type</option>
                                            <option value="1">Assign Lead</option>
                                            <option value="0">UnAssign Lead</option>
                                        </select>

                                        
                                    
                                </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-12">
                            
                                    <div class="form-group">
                                       
                                            <label for="txtPipeLineName">Date Range</label>
                                            
                                            <input type="text" ngxDaterangepickerMd
                                            [(ngModel)]="selectedDate"
                                            [showCustomRangeLabel]="true"
                                            [alwaysShowCalendars]="true"
                                            [ranges]="ranges"
                                            [linkedCalendars]="true"
                                            [isInvalidDate] = "isInvalidDate"
                                            [showClearButton]="true"
                                            (ngModelChange)="filterLeads()"
                                            class="form-control"
                                            
                                            placeholder="Select please..."/>
                                    </div>
                                
                            </div>
                                <div class="col-md-2 col-sm-4 col-12" style="margin-top:1.7rem !important">
                                    <div class="form-group">
                                            <input type="button" value="Reset Filter" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Reset Filter" (click)="resetFilter()" class="btn btn-primary">
                                        
                                    </div>
                                    </div>

                    </div>
                    </div>
                </div>
    
                    </div>
           </div>
           <div class="col-md-3 offset-md-0 col-sm-offset-0 col-xs-offset-0">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-link" style="color:#4680FF" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i></button>   Lead Section
                </div>
                <div id="collapseOne"  class="collapse show" aria-labelledby="headingOne" >
                <div class="card-body popup-modal" >
                    <div class="lead-title">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" [(ngModel)]="directLeadName" placeholder="Give your lead a title">
                                <div class="input-group-append">
                                    <button class="input-group-text" [disabled]="isSaving" data-toggle="tooltip" data-placement="bottom" title="" (click)="addDirectLead()" data-original-title="Lead Create by name">
                                        <span *ngIf="isSaving" class="spinner-border spinner-border-sm"  role="status" aria-hidden="true"></span>
                                        Add Lead
                                    </button>
                                    <button class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Advanced Lead Creator"  [routerLink]="['/Lead']"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                                
                            </div>
                            <a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Create Lead By CSV file.(just upload csv file).">csv </a>
                        </div>
                    </div>
                </div>
            </div>

            </div>
           
        </div>
           
           
        </div>
        
          <div class="container-fluid">
              <div class="project-content">
               
                  <ul class="ul-list d-inline-block"  *ngIf="allLeadInfo" cdkDropList [cdkDropListData]="allLeadInfo"  (cdkDropListDropped)="onTrackDrop($event)" cdkDropListOrientation="horizontal"   >
                    
                      <li class="li-list d-inline-block" *ngFor="let item of allLeadInfo" >
                         
                          <div class="card border-secondary project-card">
                              <div class="card-body card-body-content"  >
                                  <div class="project-card-title mb-3 ">
                                      <h4 class="card-title d-inline-block">{{item.stageDetails?.stageName}}
                                        <span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Leads Count">{{item.leadDetails.length}}</span>

                                      </h4>
                                      <a class="nav-link dropdown-toggle leadoption p-0 float-right d-inline-block" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                                      <div class="dropdown-menu">
                                          <a class="dropdown-item" href="#!">Add Team Members</a>
                                          <a class="dropdown-item" href="#!">Help Center</a>
                                          <a class="dropdown-item" href="#!">Change Password</a>
                                          <a class="dropdown-item" href="#!">Sign Out</a>
                                      </div>
                                  </div>
                                
                                      
                                 
                                  <div class="card-body card-body-content"  [ngStyle]="{'height.px': cardHeight}" cdkDropList [id]="item.stageDetails.stageId" [cdkDropListData]="item.leadDetails"
                                  [cdkDropListConnectedTo]="trackIds" (cdkDropListDropped)="onTalkDrop($event)">
                                  <div class="project-todo" *ngFor="let leaddata of item.leadDetails" cdkDrag  [routerLink]="['/LeadDetails', leaddata.leadId]">
                                    <div class="card border-light mb-3">
                                        <div class="card-body ">
                                            <!-- <div class="color-tags">
                                                <p class="color green"></p>
                                                <p class="color orange"></p>
                                                <p class="color purple"></p>
                                                <p class="color green"></p>
                                            </div> -->
                                            <div class="todo-title">
                                                <p class="font-weight-normal d-inline-block">{{leaddata?.leadName}}</p>
                                               
                                            </div>
                                            <div class="todo-content">
                                                <!-- <div class="todo-description">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry. Lorem Ipsum has been the
                                                        industry's standard dummy text ever since the 1500s,
                                                        when an unknown printer took a galley of type and
                                                        scrambled it to make a type specimen book. It has
                                                        survived not only five centuries, but also the leap into
                                                        electronic typesetting, remaining essentially unchanged.
                                                    </p>
                                                </div> -->
                                                <div class="todo-footer">
                                                    <ul class="attachment-icon d-inline-block">
                                                        <li class="badge badge-primary d-inline-block" style="margin-right:5px" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Lead Value">
                                                            <i class="fa fa-inr" aria-hidden="true">
                                                                
                                                            </i><span>{{leaddata?.leadValue}}</span></li>
                                                        <li class="badge badge-primary d-inline-block" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Assign User">
                                                            <i class="fa fa-user" aria-hidden="true"></i><span>{{leaddata?.assignUserName}}</span></li>
                                                    </ul>
                                                    <ul class="attachment-icon d-inline-block float-right">
                                                        <li class="badge badge-primary d-inline-block" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Notes"><i class="fa fa-sticky-note" aria-hidden="true"></i><span>2</span></li>
                                                        <li class="badge badge-primary d-inline-block" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Attached Files"><i class="fa fa-paperclip" aria-hidden="true"></i><span>4</span></li>
                                                    </ul>
                                                    <!-- <div class="invite-member float-right">
                                                        <div class="add-member text-center float-right" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Invite Members">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="invited-member float-right mr-1">
                                                             <img class="user-img" src="./assest/./assets/img/user-1.png" alt="User-1" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="User 1">
                                                            <img class="user-img" src="./assets/img/user-2.jpg" alt="User-1" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="USer 2">
                                                            <img class="user-img" src="./assets/img/user-1.png" alt="User-1" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="User 3"> 

                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  </div>
                                
                                 
                              </div>
                          </div>

                      </li>
                     
                    

                  </ul>
               



              </div>
          </div>
      </section>

    
       
      

  </div> 

  
</main>